/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
1. Từ trên xuống dưới
2. Từ ngoài vào trong
3. Từ tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước (wight, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông,...)
*/

/* Common: dùng chung */

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}
body {
  color: #707070;
  line-height: 1.6;
}
.row {
  margin: 0 80px;
}
.col {
  margin: 0 15px 5px;
}
.col-full {
  width: 100%;
}
.col-half {
  width: 50%;
}
.col-third {
  width: 33.3333%;
}
.mt-28 {
  margin-top: 28px;
}

#header1 {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #00314e;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  padding: 0 70px;
  line-height: 55px;
  font-weight: 100;
}
#support {
  display: flex;
}
#support > p {
  padding: 0 20px;
}
#support a {
  color: #fff;
  text-decoration: none;
}
#language .ti-angle-down {
  padding-left: 10px;
}
#support i[class*="ti-"] {
  width: 24px;
  display: inline-block;
}

#header2 {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}
#logo img {
  max-width: 250px;
}
#nav {
  display: flex;
}
#nav li {
  display: block;
  padding: 20px 24px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
#nav li:hover a {
  color: #0669a4;
}
#nav li a {
  color: #000;
  text-decoration: none;
}
#nav .subnav {
  display: none;
  position: absolute;
  width: 210px;
  margin-top: 5px;
}
#nav .subnav li {
  position: relative;
  background-color: #0669a4;
  font-size: 13px;
  text-transform: none;
  padding: 8px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav li a {
  color: #fff;
  padding: 3px;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav li:hover {
  background-color: #00314e;
  /* animation: modalFadeIn ease 0.5s; */
}

#slider {
  padding-top: 50%;
  background: url("../img/slider.jpg") top center no-repeat;
  background-size: contain;
  position: relative;
}
.search {
  width: 100%;
  position: absolute;
  margin-top: -364px;
  text-align: center;
}
.search .text {
  font-size: 40px;
  color: #fff;
  margin-bottom: 42px;
  font-weight: 700;
}
.search .search-nav {
  width: 1330px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border-radius: 36px;
  padding: 8px;
}
.search .search-nav li {
  display: block;
  height: 48px;
  margin-left: -82px;
}
.search .search-nav li a {
  text-decoration: none;
  color: #7e7f82;
  font-size: 16px;
  line-height: 48px;
}
.search .search-nav .search-btn {
  background-color: #0669a4;
  width: 180px;
  height: 50px;
  border-radius: 99px;
  color: #fff;
  font-size: 18px;
  border: none;
}

#content .about,
#content .discover,
#content .process,
#content .why-not-choose,
#content .customer,
#content .contact {
  max-width: 100%;
  padding: 30px 0;
}
#content .title {
  text-align: center;
}
#content .s-title {
  font-size: 18px;
  color: #919398;
  letter-spacing: 1px;
  /* font-weight: 100; */
}
#content .l-title {
  font-size: 30px;
  color: #242526;
  font-weight: 700;
  margin-bottom: 16px;
}
#content .content-section {
  display: flex;
  /* flex-wrap: wrap; */
}
.about-img {
  background: #daedf9;
}
.about-img img {
  width: 100%;
  display: block;
  transition: all 1s;
}
.about-img > div {
  margin: 15px;
  overflow: hidden;
}
.about-img:hover img {
  transform: scale(1.2);
}
#about .about-text {
  font-size: 17.5px;
}
.about-text .about-heading {
  color: #9e9a9a;
}
.about-text .about-sub-heading > p {
  margin-top: 28px;
}
.about-text .btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17.5px;
  color: #0669a4;
  font-weight: 600;
}

#discover .discover-list {
  border: 1px solid #d8d8d8;
  border-radius: 2px;
}
/* #discover .content-section > div {
  overflow: hidden;
}
#discover .content-section img {
  width: 100%;
  display: block;
  transition: all 1s;
} */
#discover .discover-img {
  overflow: hidden;
}
#discover .discover-img img {
  transition: all 0.7s;
  width: 100%;
}
#discover .discover-img:hover img {
  transform: scale(1.2);
}
#discover .discover-body {
  padding: 24px;
}
#discover .discover-heading {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 8px;
}
#discover .discover-list:hover .discover-heading {
  color: #0669a4;
  cursor: pointer;
}
#discover .discover-sub-heading {
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  color: #484848;
}

#process {
  width: 100%;
  height: 546px;
  background: url("../img/processbg.jpg") top center no-repeat;
  background-size: cover;
}
#process .content-process {
  display: flex;
}
#process .process-img {
  flex: 5;
}
#process .process-body {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#process .process-body .process-part {
  flex-basis: 50%;
  padding: 0 15px 30px;
}
#process .process-number {
  width: 25%;
  float: left;
  font-size: 60px;
  color: #0669a4;
  margin-top: -13px;
}
#process .process-heading {
  font-size: 18px;
  color: #0669a4;
  padding-top: 10px;
  margin-bottom: 10px;
  line-height: 1.3;
}
#process .process-sub-heading {
  font-size: 14px;
  line-height: 1.3;
  width: 75%;
  float: right;
}

#why-not-choose .why-not-choose-list {
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  padding: 32px 48px 60px;
}

#why-not-choose .why-not-choose-heading {
  color: #242526;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px;
}
#why-not-choose .why-not-choose-sub-heading {
  font-size: 13px;
  line-height: 1.4;
}

#customer .customer-list {
  text-align: center;
  padding: 40px 175px;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
}
#customer .customer-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

#customer .customer-name {
  font-size: 21px;
  line-height: 1.3;
  font-weight: 700;
}
#customer .customer-position {
  font-size: 16px;
  color: #1d7cbf;
  line-height: 1.6;
}

#contact {
  background-color: rgb(6, 105, 164);
}
#contact .contact-list {
  display: flex;
}
#contact .contact-text {
  flex: 1;
}
#contact .contact-body {
  flex: 2;
}
#contact .contact-heading {
  color: #fff;
  font-size: 26px;
  margin-bottom: 13px;
}
#contact .contact-sub-heading {
  color: #f1f1f1;
  font-size: 13px;
  text-align: justify;
  padding-right: 15px;
}
#contact .contact-input {
  display: flex;
}
#contact .contact-ip {
  width: 100%;
  height: 50px;
  padding: 0 30px;
  font-size: 15px;
  color: #888888;
  border: none;
  margin: 5px 0px;
  outline: none;
}
.contact-input .col-half > div {
  padding: 0 15px 10px;
}
#contact .contact-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
#contact .contact-btn button {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background-color: #14a848;
  padding: 10px 38px;
  border: none;
  border-radius: 99px;
  line-height: 36px;
  cursor: pointer;
  opacity: 1.2;
}
#contact .contact-btn button:hover {
  opacity: 0.8;
}

